body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 99%;
}

/* top navigation bar */
#header {
    padding-bottom: 4px;
    width: 101%;
    margin-left: -10px;
    border-bottom: 1px solid #C6C6C6;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 44px;
    width: 100%;
}

#searchbar {
    display: flex;
    flex-direction: row;
    ;
    position: absolute;
    padding-left: 6px;
    padding-top: 1px;
    margin-top: -4px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    width: 560px;
    height: 40px;
    margin-left: -0.5%;
    background-image:
        linear-gradient(to right, white, white),
        linear-gradient(to right, #FF4500, #ffb300);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, -1px -1px;
    background-size: 100% 98%, 102% 102%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    outline: none;
}

#searchbar:hover {
    background-image:
        linear-gradient(to right, rgb(248, 248, 248), rgb(248, 248, 248)),
        linear-gradient(to right, #FF4500, #ffb300);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, -1px -1px;
    background-size: 100% 98%, 102% 102%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#searchbarinput {
    border: none;
    background: transparent;
    padding: 5px 10px;
    font-size: 14px;
    width: 375.5px;
    text-align: center;
    cursor: text;
    color: #8e8e8e;

}

#searchbarinput:focus {
    outline: none;
    text-align: left;
}

#searchbarinput::placeholder {
    padding-left: 5px;
    color: #8e8e8e;
}

#askBtn {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    padding: 6px 12px;
    border: none;
    width: 110px;
    height: 30px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.08);
    color: #000;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: start;
    background-size: 20px auto;
    background-image: url('../images/askquestionbutton1.png');
}

#askBtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
    background-image: url('../images/askquestionbutton3.png');
    background-size: 19px auto;
}

#rightbuttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    gap: 10px;
    margin-right: 10px;
}

#downloadapp {
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.08);
}

#downloadapp:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

#loginBtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 110px;
    height: 40px;
    border-radius: 999px;
    background-color: #FF4500;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #db3a00;
}

#threepoints {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    color: #000000;
    font-size: 15px;
    font-weight: 1000;
    justify-self: end;
    align-items: top;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    background-color: transparent;
}

#threepoints:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

/* left sidebar */
#leftbar {
    border-right: 1px solid #C6C6C6;
    width: 14%;
    height: 100%;
    left: 0;
    padding-right: 2%;
}

#homebtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#homebtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#popularBtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#popularBtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#NewsBtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#NewsBtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#exploreBtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#exploreBtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#sources {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    margin-left: 5px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #555555;
    font-size: 13px;
    font-weight: 200;
    justify-self: end;
    align-items: center;
    cursor: pointer;
}

#sources:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#p1 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #8e8e8e;
}

.hideP1 {
    visibility: hidden;
    height: 0;
}

#p2 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #8e8e8e;
}

.hideP2 {
    visibility: hidden;
    height: 0;
}

#p3 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #8e8e8e;
}

.hideP3 {
    visibility: hidden;
    height: 0;
}

#p4 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #8e8e8e;
}

.hideP4 {
    visibility: hidden;
    height: 0;
}

#p5 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #8e8e8e;
}

.hideP5 {
    visibility: hidden;
    height: 0;
}

#aboutBtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#aboutBtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#advertizebtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#advertizebtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#developmentbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#developmentbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#redditprobtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    margin-right: 7px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#redditprobtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#helpbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#helpbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#blogbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#blogbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#careersbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#careersbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#pressbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#pressbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#bestofredditbtn1 {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#bestofredditbtn1:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#bestofredditbtn2 {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#bestofredditbtn2:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#bestofredditbtn3 {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#bestofredditbtn3:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#rulesbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#rulesbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#privacypolicybtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#privacypolicybtn:hover {
    background-color: rgba(0, 0, 0, 0, 0.08);
}

#termsbtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#termsbtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#accessibilitybtn {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#accessibilitybtn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

/* copyright box */
#copyrightbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14%;
    left: 0;
    padding-right: 2%;
    border-right: 1px solid #C6C6C6;
}

#copyrighttxt {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    justify-self: end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    text-decoration: none;
}

#copyrighttxt:hover {
    text-decoration: underline;
}

/* extra */

#separator1 {
    font-size: 15px;
    line-height: 0.5;
    margin-bottom: 0px;
    font-weight: 100;
    color: #e9e9e9;
}

#separator2 {
    font-size: 15px;
    line-height: 0.5;
    margin-bottom: 0px;
    font-weight: 100;
    color: #e9e9e9;
}

#beta {
    color: #FF4500;
}

/* images */

#searchicon {
    height: 28px;
}

#reddit-logo {
    position: absolute;
    left: 19px;
    margin-top: -13px;
    width: 76px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#wierdpng {
    height: 17px;
    margin-right: 5px;
    margin-left: -10px;
}