/* header */
header {
    background-color: #333;
    color: white;
    padding-left: 5px;
    height: 9vh;
    width: 98.5vw;
    align-content: center;
    text-decoration: none;
}
h1 {
    margin: 0;


}
#h1 {
    color: white;
    text-decoration: none;
}
/* nav bar */
nav {
    background-color: #ffffff;
    overflow: scroll;
    border-right: black solid 1px;
    width: 15vw;
    padding-top: 10px;
    margin-top: 10px;
    height: 85vh;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    text-align: center;
}
.navbutton {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 75%;
    text-decoration: none;
    margin: 1px;
}
.subbutton {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 25px;
    width: 60%;
    text-decoration: none;
    margin: 1px;
}
#pagepoint {
    color: black;
    text-decoration: none;
    font-size: 13px;
}
#subpage {
    color: black;
    text-decoration: none;
}
.hide {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex: 1;
}
/* infopage */
main {
    flex: 1;
    height: 85vh;
    padding-left: 0.5vw;
    padding-top: 10px;
    overflow: scroll;
}
.infopage {
    background-color: #ffffff;
    border: none;
}